.navbar {
  width: fit-content;
  margin: auto;
  overflow: hidden;
  background-color: #0a2239;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown button.dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: #4f7cac;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebf4f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

body {
  background-color: #ebf4f6;
}

h1,
h2,
p {
  color: #0a2239;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

td {
  background-color: white;
}

th {
  background-color: #0a2239;
  color: white;
}

th,
td {
  padding: 10px;
  /* text-align: center; */
}

.link {
  text-align: center;
}

a.link-tabela:link,
a.link-tabela:visited {
  background-color: #4f7cac;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* a.link-tabela:hover,
a.link-tabela:active {
  background-color: red;
} */

.pontuacao,
.equipe {
  font-weight: 700;
}

footer {
  width: 100%;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a2239;
  color: #ffffff;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .container-tabela {
    align-self: center;
  }
}
